<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Imageboard</title>
    </head>
    <body>
        <main id="main">
            <header id="head">Finstergram</header>
            <form class="subform"
                    action="/image" 
                    method="post" 
                    enctype="multipart/form-data" 
                    @submit.prevent="onFormSubmit">
                <input type="file" name="photo" class="textInput">
                <input type="text" name="title" placeholder="title" class="textInput">
                <input type="text" name="description" placeholder="description" class="textInput">
                <input type="text" name="username" placeholder="username" class="textInput">
                <input type="submit" value="upload" class="submit-btn">
                <hr>
            </form>
            
            <section class="cards" >
                <div class="card" v-for="image in images">
                    <img  v-bind:src="image.url" alt="altImage" @click="">
                    <span class="description">{{image.title}}</span>
                </div>
            </section>

            <image-modal :id="selectedImage" v-if="showModal" @close="closeModal"></image-modal>
        </main>
        <script
            src="/js/app.js"
            type="module"
            crossorigin="use-credentials"
        ></script>
    </body>
</html>